.About_page{
    /* background-color: black; */
    /* justify-content: center; */
}
.about_card{
    display: flex;

}
.About_img{
    height: 70vh;
    align-self: center;
}
.hori_line{
    height:1px;
    margin-bottom: 0px;
    width: 40%;
    /* color: black; */
    /* font-size: 10px; */
    background-color: black;
    /* font-weight: bold; */
    /* align-self: flex-start; */
}
.About_desc_card{
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    /* border: 1px solid rgb(237, 40, 40); */
    border-left: 6px solid rgb(130, 188, 255);
    padding: 8px;
    border-radius: 3px;
    background-color: rgb(213, 207, 144);
    /* color: white; */
}
.About_heading{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0px;
}